<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="UTF-8" />
        <title>Brick</title>
    </head>
    <body>
        <h1>Brick Configuration</h1>
            {% if errors %}
                <h2>Please correct the error below.</h2>
                <ul>
                    {% for name, errs in errors.items() %}
                    <li><strong>{{ name }}</strong></li>
                        <ul>
                            {% for err in errs %}
                            <li>{{ err }}</li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </ul>
            {% endif %}
        <form method="post" accept-charset="ISO-8859-1">
            <div>
                <textarea name="config" style="width: 95vw; height: 80vh;">{{ config_text }}</textarea>
            </div>
            <div>
                <input type="submit" value="Save">
            </div>
        </form>
    </body>
</html>
